.divCards{
    background-color: rgba(53, 53, 53, 0.21) !important;
    backdrop-filter: blur(5px);
    border: none !important;
    border-radius: 1rem !important;
    box-shadow: 10px 10px 21px #0000004f;
    padding: 3rem;
    margin: 1.5rem;
    
    hr{
        color: white;
        margin-top: 0;
        margin-bottom: 2rem;
        width: 35%;
        height: 3px;
        background-color: white;
    }
    h1{
        color: #d5d5d5;
    }
    h4{
        color: #d5d5d5;
        margin-bottom: 0;
    }
    // a{
    //     color: rgb(193, 193, 193);
    //     font-size: 115%;
    //     text-decoration: none;
    //     &:hover{
    //         color: rgb(114, 114, 114);
    //         font-weight: bold;
    //         text-decoration: underline;
    //     }
    // }

    a{
        text-decoration: none;
        color: rgb(159, 159, 159);
        font-size: 115%;
    }

    a{
        background: 
        linear-gradient(to left, rgb(114, 114, 114), rgb(114, 114, 114), rgb(114, 114, 114));
        background-size: 0 0.1em;
        background-position: 0 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
    }

    a:hover,
    a:focus {
        background-size: 100% 0.1em, 0 0.1em;
    }
    
}

@media (min-width: 320px) {
    .divCards{
        padding: 1.5rem !important;
        margin: 1.5rem !important;

        hr{
            width: 50%;
        }
    }
  }