.divCards{
    background-color: rgba(53, 53, 53, 0.21) !important;
    backdrop-filter: blur(5px);
    border: none !important;
    border-radius: 1rem !important;
    
    hr{
        color: white;
        margin-top: 0;
        margin-bottom: 2rem;
        width: 35%;
        
    }
    h1{
        color: white;
    }
    h4{
        color: white;
    }
    a{
        color: rgb(158, 158, 158);
        font-size: 115%;
        &:hover{
            color: rgb(114, 114, 114);
        }
    }
}