
.project{
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0 10rem 0 10rem;

    .projectcard{
    overflow: scroll;
    height: 100vh;
    background-color: rgba(53, 53, 53, 0.21) !important;
    backdrop-filter: blur(5px);
    border: none !important;
    border-radius: 0 0 1rem 1rem !important;
    box-shadow: 10px 10px 21px #0000004f;
    color: white;
    display: inline-block;
    
    .card-body{
        width: 100%;
    }

    .projimg{
        width: var(--bigProjImg);
        border: none;
        border-radius: 0 0 2rem 2rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    hr{
        color: white;
        margin-top: 0;
        margin-bottom: var(--bs-card-title-spacer-y);
        width: 100%;
        height: 3px;
        background-color: white;
    }

    .projectinfo{
        display: flex;
        justify-content: space-between;
        .projectdata{
            width: 100%;
            td{
                vertical-align: top;
                padding: 0 1rem 0.5rem 0;
                ul{
                    padding-left: 0;
                    li{
                        list-style-type: none;
                    }
                }
            }
        }
        
        .projectdescription{
            width: 100%;
        }
    }

    .contentimg {
        width: 100%;
        border: none;
        border-radius: 1rem;
    }

    .contentheader{
        margin: 0.5rem 0 0.5rem 0;
        text-align: center;
    }

    }

    .diner{
        .accent{
            color: #7ab1d0;
        }
    }
    .locky{
        .accent{
            color: rgb(241, 222, 190);
        }
    }
}

.projects{
    padding: 5rem 10rem 0 10rem;

    .projectcardsmall{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        background-color: rgba(53, 53, 53, 0.21) !important;
        backdrop-filter: blur(5px);
        border: none !important;
        border-radius: 1rem !important;
        box-shadow: 10px 10px 21px #0000004f;
        color: white!important;
        z-index: 999999;

        img{
            width: 12rem;
        }

        a{
            margin-left: 1rem;
            text-decoration: none;
        }

        a{
            background: 
            linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
            background-size: 0 0.1em;
            background-position: 0 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
        }

        a:hover,
        a:focus {
            background-size: 100% 0.1em, 0 0.1em;
        }
    }
}

@media only screen and (max-width: 768px){
    .projects{
        padding: 5rem 0 0 0;
        align-items: center;
        .projectcardsmall{
            width: 95vw;
            margin: 0 0 1rem 0;
            img{
                width: 5rem;
                border: none !important;
                border-radius: 1rem !important;
            }

            a{
                font-size: larger;
            }
        }
    }

    .project{
        padding: 0 0 0 0;
        .projectcard{
            width: 95vw;
            padding-bottom: 4rem;
            .projimg{
                width: 100%;
                border: none;
            }

            .card-body{
                width: auto;
            }

            .projectinfo{
                flex-direction: column;

                .projectdata{
                    table{
                        width: 100%;
                    }
                }
            }
        }
    }
}