<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <%- include("../../partials/nav.ejs") %>
</head>
<body>
    <div class="noise"></div>
    <div class="gradient" id="gradient"></div>
    <div class="project">
        <div class="projectcard locky card">
            <img src="/img/projs/locky/lockyicon.png" alt="UIUX img">
            
            <div class="card-body">
                <h1 class="card-title pt-4 accent">Locky (Automated Blockchain Transactions)</h1>
                <hr>
                <div class="projectinfo">
                    <div class="projectdata">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h5 class="accent">Category</h5>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Software Development</li>
                                            <li>App Development</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5 class="accent">Year</h5>
                                    </td>
                                    <td>
                                        <p>2022</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5 class="accent">
                                            Softwares
                                        </h5>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Solidity</li>
                                            <li>Parcel</li>
                                            <li>truffle</li>
                                            <li>JavaScript</li>
                                            <li>HTML</li>
                                            <li>JAVA</li>
                                            <li>Algorand SDK</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5 class="accent">
                                            Duration
                                        </h5>
                                    </td>
                                    <td>
                                        <p>
                                            3 Months
                                        </p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="projectdescription">
                        <p>We were tasked to integrate blockchain into a parcel collection app, creating an immutable ledger for order tracking. Our solution revolutionized parcel monitoring, ensuring tamper-proof records from delivery to collection. This project showcased our expertise in blockchain integration and our ability to drive innovation in logistics.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

<script>  
    width = screen.width
    if (width > 720){
        navbarHeight = document.querySelector("#navbar").offsetHeight;
        console.log(navbarHeight);
        Body = document.querySelector("body");
        height = document.documentElement.clientHeight - navbarHeight + "px";
        console.log(document.documentElement.clientHeight + " " + navbarHeight + " " + height);
        Body.style.height = height;
    }

    gradient = document.getElementById("gradient");
    console.log(gradient.style);
    gradient.style.backgroundImage = "var(--locky)";
</script>