@import "pages/index-styles.scss";
@import "pages/contact-styles.scss";
@import "pages/projectscard-styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #121212 !important;
    --original: linear-gradient(hsla(170, 82%, 57%, 0.85), hsl(252, 82%, 57%));
    --DCS: linear-gradient(hsla(202, 100%, 75%, 0.85), hsl(239, 94%, 50%));
    --locky: linear-gradient(rgb(192, 239, 255), rgb(136, 107, 105));
    --bigProjImg: 55rem;
    --bs-body-font-family: poppins
}