@import "pages/index-styles.scss";
@import "pages/contact-styles.scss";
@import "pages/projectscard-styles.scss";


#navbar{
  position: absolute;
  z-index: 999999;
}

body{
    background-color: rgb(28, 28, 28) !important;
    --original: linear-gradient(hsla(170, 82%, 57%, 0.85), hsl(252, 82%, 57%));
    --DCS: linear-gradient(hsla(202, 100%, 75%, 0.85), hsl(239, 94%, 50%));
    --locky: linear-gradient(rgb(192, 239, 255), rgb(136, 107, 105));
    --bigProjImg: 55rem;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    --size: 300px;
    --speed: 6s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 4));
    background-image: var(--original);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50% 30% 70% 50% / 50% 30% 70% 50%;
    position: absolute;
    z-index: -100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }

  }
  
  body {
    background-color: #222;
    inset: 0;
    place-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* This is just to transition when you change the viewport size. */
  * {
    transition: all 0.25s ease-out;
  }
  
  .noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(/img/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .15;
    pointer-events: none;
}

@keyframes grain {
  0%,to {
      transform: translate(0)
  }

  10% {
      transform: translate(-5%,-10%)
  }

  20% {
      transform: translate(-15%,5%)
  }

  30% {
      transform: translate(7%,-25%)
  }

  40% {
      transform: translate(-5%,25%)
  }

  50% {
      transform: translate(-15%,10%)
  }

  60% {
      transform: translate(15%)
  }

  70% {
      transform: translateY(15%)
  }

  80% {
      transform: translate(3%,35%)
  }

  90% {
      transform: translate(-10%,10%)
  }
}
